html,
body {
    overflow: hidden !important;
    height: 100vh;
    margin: 0;

}

body {
    background: #004b96 !important;
}

div#mainApp {
    padding-left: 3%;
    padding-right: 3%;
}

div#footer {
    margin-left: 0px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

table {
    --bs-table-bg: #004b96 !important;
    --bs-gutter-x: 0 !important;

    tbody,
    thead {
        text-align: center;
    }

    thead th {
        position: sticky;
        top: 0;
    }

    tbody {
        tr:nth-child(odd) {
            td:nth-child(n+2) {
                background-color: #192184 !important;
            }
        }

        tr:nth-child(even) {
            td:nth-child(n+2) {
                background-color: #4368b1 !important;
            }
        }
    }


}