body#public {
    overflow: hidden !important;
    height: 100vh;
    margin: 0;
    padding-top: 1%;
    background: #004b96 !important;

    div#mainApp {
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
    }

    div#footer {
        margin-left: 0px !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        background: #004b96 !important;
    }

    table {
        --bs-table-bg: #004b96 !important;
        --bs-gutter-x: 0 !important;

        th,
        td {
            color: white !important;
        }

        tbody,
        thead {
            text-align: center;
        }

        thead {
            position: sticky;
            top: 0;
            z-index: 99999;
        }

        tbody {
            tr:nth-child(odd) {
                td:nth-child(n+2) {
                    background-color: #192184 !important;
                }
            }

            tr:nth-child(even) {
                td:nth-child(n+2) {
                    background-color: #2491df !important;
                }
            }

            tr {
                td {
                    img {
                        width: 100px;
                    }
                }

                td:nth-child(1) {
                    text-align: left;
                    align-items: center;
                }

                td:nth-child(n+2) {
                    align-content: center;
                }
            }
        }
    }


    #my_font {
        color: #e4dc6a !important;
        font-weight: bold;
    }

    #my_font_2 {
        font-weight: bold;
    }

    .moving_text {
        color: #e4dc6a !important;
        font-weight: bold;
        white-space: nowrap;
        clear: both;
        float: left;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}