html,
body {
    overflow: hidden !important;
    height: 100vh;
    margin: 0;
}

body {
    padding-top: 1%;
    background: #004b96 !important;
}

div#mainApp {
    padding-left: 3%;
    padding-right: 3%;
}

div#footer {
    margin-left: 0px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #004b96 !important;
}

table {
    --bs-table-bg: #004b96 !important;
    --bs-gutter-x: 0 !important;

    th,
    td {
        color: white !important;
    }

    tbody,
    thead {
        text-align: center;
    }

    thead th {
        position: sticky;
        top: 0;
    }

    tbody {
        tr:nth-child(odd) {
            td:nth-child(n+2) {
                background-color: #192184 !important;
                vertical-align: middle;
            }
        }

        tr:nth-child(even) {
            td:nth-child(n+2) {
                background-color: #4368b1 !important;
                vertical-align: middle;
            }
        }

        tr {
            td {
                padding-bottom: 2px !important;
            }

            td {
                img {
                    width: 150px;
                }
            }

            td:nth-child(1) {
                text-align: left;
                align-items: center;
                display: flex;
            }
        }
    }
}


#my_font {
    color: #e4dc6a !important;
    font-weight: bold;
}

#my_font_2 {
    font-weight: bold;
}